/* MAIN CONTENT */
i {
	cursor: pointer; /* Change cursor to show you can click icons */
}
.content {
	width: 80%;
	float: left;
}

.content i {
	color: #c4c4c4;
	cursor: pointer;
}

.projects-header {
	width: 100%;
	padding: 0 6% 0 6%;
	box-sizing: border-box;
}

.projects-header h1 {
	line-height: 59px;
	width: 60%;
	display: inline-block;
}

.projects-header i {
	font-size: 20px;
	line-height: 59px;
	color: #C4C4C4;
	margin-left: 2%;
	float: right;
	margin-top: 2%;
}

.projects-menu {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: white;
	padding: 1%;
	z-index: 1;
	border: 0.5px solid #f2f2f2;
}

.general {
	width: 200px;
	left: 72%;
	top: 120px;
}

.column-menu {
	width: 180px;
	top: 60px;
	right: 0;
}

.project-option {
	display: flex;
	align-items: center;
	padding: 2%;
}

.project-option:hover {
	cursor: pointer;
	background-color: #f2f2f2
}

.menu-icon {
	width: 50px;
	display: flex;
	justify-content: center;
}

.show {display:flex;}

/* TASK CATEGORIES */
.columns-container {
	padding: 0 1%;
}

.column {
	float: left;
	width: 32%;
	margin: 0 0.6% 1%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	padding: 2% 1%;
	box-sizing: border-box;
	position: relative;
}

.column-header {
	padding: 0 3% 5%;
}

.column-header p {
	float: left;
	font-size: 1.5em;
	margin: 0;
}

.column-header i {
	float: right;
	padding: 5px;
	margin-top: 3px;
}

/* Style for each card containing the activities */
.task {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	margin: 2% 0;
}

.task-title {
	padding: 5% 3% 0;
	display: flex;
	align-items: center;
}

.task-title p {
	margin: 0;
	padding-left: 3%;
}

.task-description {
	margin: 0;
	padding: 6% 5% 6% 5%;
	font-size: 0.75em;
	line-height: 14px;
}

.right {
	margin-left: auto;
	padding: 0 5px;
}

.tags { 
	display: flex; 
	float: left;
	padding: 0 5% 5%;
}

.tag {
	border-radius: 3px;
	color: white;
	font-size: 0.8em;
	margin: 0 2%;
	padding: 4px 7px;
	display: flex;
	align-items: center;
}
.tag i {
	margin-right: 8px;
	color: white;
}
.tag p {
	margin: 0;
}

.mustard_background {background-color: #FFBD00;}
.red_background {background-color: #C03221;}
.purple_background {background-color: #9E7B9B;}

.chat {
	display: none;
	width: 25%;
	position: absolute;
	right: 0;
	z-index: 3;
	border-left: 1px solid #C4C4C4;
	background: white;
	height: 1030px;
	overflow: hidden;
}

.chat-header {
	display: flex;
	align-items: center;
	border-bottom: 0.5px solid #52BE80;
	height: 80px;
	box-sizing: border-box;
	padding: 2%;
}
.chat-header i {
	float: left;
	color: #C4C4C4;
	margin: 12px;
	line-height: 40px;
}
.chat-header p {
	font-size: 24px;
	line-height: 16px;
	margin-left: 8px;
	float: left;
	color: #696969;
}
.chat .right {
	height: 100%;
	float: right;
}
.chat .right p {
	font-size: 18px;
	color: #C4C4C4;
	line-height: 26px;
	margin-right: 0px;}

.chat-section {
	width: 100%;
	border-bottom: 0.5px solid #52BE80;
	padding-bottom: 12%;
	padding-right: 5%;
	box-sizing: border-box;
}
.chat-section p {
	margin-left: 36px; 
	margin-right: 12px;
	text-align: justify;
	text-justify: inter-word;
}
.chat-date {font-size: 24px; }
.chat-thread {margin-left: 40px;}
.chat-author {color: #52BE80;}

.input-message {
	display: flex;
	border-radius: 10px;
	background-color: #52BE80;
	align-items: center;
	width: 85%;
	padding: 1%;
	color: white;
	margin-top: 8%;
	margin-left: 10%;
}

.input-message i {
	margin-left: auto;
}

.chat input[type=text] {
	width: 90%;
	border: none;
	background-color: #52BE80;
	padding: 2px 8px;
	color: white;
}

.chat input[type=text]:focus {
	outline: none;
	color: white;
}