/* MAIN CONTENT */
i {
	cursor: pointer; /* Change cursor to show you can click icons */
}

/*share pop-up*/
.share-popup, .add-label-task {
	width: 30%;
	height: 86%;
	background-color: white;
	position: relative;
}

.popup h1 {
	line-height: 24px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin:0;
	padding-left: 8%;
	padding-top: 5%;
	color: #696969;
}
.fa-times {
	color: #696969;
	position: absolute;
	top: 5%;
	right: 8%;
	cursor: pointer;
}
.popup hr {
	margin: 5% 5% 8% 5%;
	width: 90%;
}
.share-popup img {
	margin: 5% 10% 0% 10%;
	width: 80%;
	height: auto;
}
.share-popup .title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin:0;
}
.share-popup .share-description {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	margin:0;
	color: #696969;
}
.share-popup i { 
	color: #52BE80;
	display: inline-block;
}
.share-popup .howto {
	width: 100%;
	padding-top: 4%;
	padding-bottom: 4%;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	margin:0;
	color: #52BE80;
	cursor: pointer;
}
.form {
	background-color: white;
	margin: 0;
	width: 100%;
}
#user {
	display: inline-block;
	line-height: 20px;
	width: 50%;
	margin-left: 10%;
	margin-right: 2%;
	padding: 5px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 3px;
}
.logbtn {
	display: inline-block;
	line-height: 30px;
    width: 26%;
    border: none;
    border-radius: 5px;
    background: #52BE80;
    color: #fff;
    outline: none;
    cursor: pointer;
	transition: .5s;
	margin-right: 10%;
}
.logbtn:hover {
    
}

.content {
	width: 80%;
	float: left;
}

.content i {
	color: #c4c4c4;
	cursor: pointer;
}

.projects-header {
	width: 100%;
	padding: 0 6% 0 6%;
	box-sizing: border-box;
}

.projects-header h1 {
	line-height: 59px;
	width: 60%;
	display: inline-block;
}

.projects-header i {
	font-size: 20px;
	line-height: 59px;
	color: #C4C4C4;
	margin-left: 2%;
	float: right;
	margin-top: 2%;
}

.projects-menu {
	display: none;
	flex-direction: column;
	position: absolute;
	background-color: white;
	padding: 1%;
	z-index: 1;
	border: 0.5px solid #f2f2f2;
}

.general {
	width: 200px;
	left: 72%;
	top: 120px;
}

.column-menu {
	width: 180px;
	top: 60px;
	right: 0;
}

.project-option {
	display: flex;
	align-items: center;
	padding: 2%;
}

.project-option:hover {
	cursor: pointer;
	background-color: #f2f2f2
}

.menu-icon {
	width: 50px;
	display: flex;
	justify-content: center;
}

.show {display:flex;}

/* TASK CATEGORIES */
.columns-container {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 0 1%;
}

.column {
	width: 32%;
	margin: 0 auto 1%;
	background-color: #f5f5f5;
	display: flex;
	flex-direction: column;
	padding: 2% 1%;
	box-sizing: border-box;
	position: relative;
}

.column-header {
	padding: 0 3% 5%;
}

.column-header p {
	float: left;
	font-size: 1.5em;
	margin: 0;
}

.column-header i {
	float: right;
	padding: 5px;
	margin-top: 3px;
}

/* Style for each card containing the activities */
.task {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	margin: 2% 0;
}

.task-title {
	padding: 5% 3% 0;
	display: flex;
}

.task-title p {
	margin: 1px 0 0;
	padding-left: 3%;
}

.task-description {
	margin: 0;
	padding: 6% 5% 6% 5%;
	font-size: 0.75em;
	line-height: 14px;
}

.right {
	margin-left: auto;
	padding: 0 5px;
}

.tags { 
	display: flex; 
	float: left;
	padding: 0 5% 5%;
}

.tag {
	border-radius: 3px;
	color: white;
	font-size: 0.8em;
	margin: 0 2%;
}
.tag i {
	padding: 5px 7px;
	float: left;
	color: white;
}
.tag p {
	margin: 0;
	padding: 2px 7px 0 0;
	float: left;
}

.mustard_background {background-color: #FFBD00;}
.red_background {background-color: #C03221;}
.purple_background {background-color: #9E7B9B;}