body {
	margin: 0;
	font-family: 'Open Sans';
}

i:hover {
	color: #696969;
}

header:after {
	content: "";
	display: table;
	clear: both;
}

header {
	color: white;
	background: #52BE80;
	padding: 10px;
	margin: 0;
}

header h1 {
	float: left;
	font-family: 'Delius Unicase', cursive;
	font-size: 1.75em;
	margin: 0;
	padding-left: 10px;
}

a:link, a:visited {
	text-decoration: none;
}

header a:visited {
	color: white;
}

side-bar a:visited {
	color: black;
}

header img {
	float: left;
	width: 35px;
	height: 35px;
	margin-left: 5px;
}

header i {
	margin-top: 5px;
	float: right;
	padding: 0 5px;
}

/* SIDE BAR */ 
.side-bar {
	width: 20%;
	height: 80%;
	background: #F5F5F5;
	display: flex;
	flex-direction: column;
	left: 0px;
	float: left;
	position:-webkit-sticky;
	position: sticky;
	position:sticky;
	top:0;
}

.side-header {
	width: 100%;
	display: flex;
	float: left;
}

.logo {
	background-color: #c4c4c4;
	color: white;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
	margin: 12px;
}

.side-header h1 {
	font-size: 1.3em;
	margin-top: 20px;
}

.logo h1 {
	margin-top: 3px;
}

.side-header i {
	font-size: 1.25em;
	color: #C4C4C4;
	margin: 26px;
}

.top-group {
	width: 100%;
	float: left;
	display: flex;
	flex-direction: column;
}

.shortcut {
	padding: 6px;
	margin-left: 30px;
}

.shortcut p {
	margin: 0;
	padding-left: 10px;
}

.shortcut p, i {
	display: inline-block;
	cursor: pointer;
}

hr {
	width: 100%;
	box-sizing: border-box;
	border: 0.7px solid #C4C4C4;
	margin-top: 22px;
}

.side-bar-group {
	padding-left: 28px;
	width: 100;
}

.group-header, .dropdown, .bottom-group {
	width: 100%;
	float: left;
}

.side-bar-group i {
	padding-top: 7px;
	color:  #C4C4C4;
}

.arrow-down {
	float: left;
	font-size: 2em;
	cursor: pointer;
}
.add {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

.side-bar-group p {
	float: left;
	margin: 0;
	padding-top: 12px;
	padding-left: 10px;
}

.dropdown p {
	font-size: 0.75em;
	margin-left: 5px;
	cursor: pointer;
}

.dropdown i {
	margin-top: 4px;
	margin-left: 8px;
	cursor: pointer;
}

.element {
	height: 30px;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	align-items: center;
}

.element p {padding-left: 14px;}

#side-bar-events i {
	color: #52BE80;
}

#purple {color: #9D8CB7;}
#dark-blue {color: #124E78;}
#red {color: #F96F5D;}
#dark-green {color: #38726C;}
#mustard {color: #FF9F1C;}
#grey {color: #C4C4C4;}
#light-green {color: #52BE80;}
#dark-grey {color: #696969;}

.bottom-group {
	padding: 20px;
}
.bottom-group i {
	margin-left: 15px;
	cursor: pointer;
}
.bottom-group .element p{
	color: #696969;
	cursor: pointer;
}

.hide {
	display: none;
}

.popup {
	display: none; /* Not shown until share button of a card is clicked */
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 2; 
	width: 100%; 
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

/*share pop-up*/
.share-popup, .add-label, .create-label, .create-section, .rename {
	width: 30%;
	background-color: white;
	position: relative;
	padding: 0 0 1.5%;
}

.popup img {
	margin: 5% 10% 0% 10%;
	width: 80%;
	height: auto;
}

.popup .title {
	width: 100%;
	font-family: "Open Sans";
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 20px 0;
}

.popup .description {
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	line-height: 16px;
	text-align: center;
	display: inline-block;
	margin:0;
	color: #696969;
}

.how-to i { 
	color: #52BE80;
	display: inline-block;
}

.how-to {
	width: 100%;
	padding-top: 4%;
	padding-bottom: 4%;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	margin:0;
	color: #52BE80;
	cursor: pointer;
}

.popup input[type=text] {
	display: inline-block;
	line-height: 20px;
	width: 50%;
	margin-left: 10%;
	margin-right: 2%;
	padding: 5px;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	border-radius: 3px;
}

.popup select {
  width: 50%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e2e2e2;
  margin: 0 4% 0 8%;
}

.popup form {
	display: flex;
	align-items: center;
}

.popup h1 {
	line-height: 24px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	margin:0;
	padding-left: 8%;
	padding-top: 5%;
	color: #696969;
}

.fa-times {
	color: #696969;
	position: absolute;
	top: 24px;
	right: 8%;
	cursor: pointer;
}

.create-project .fa-times {
	top: 14px;
	right: 14px;
}

.popup hr {
	margin: 5%;
	width: 90%;
}

.logbtn {
	display: inline-block;
	line-height: 30px;
	padding: 0 20px;
    border: none;
    border-radius: 5px;
    background: #52BE80;
    color: #fff;
    outline: none;
    cursor: pointer;
	transition: .5s;
	margin-right: 10%;
}

.create-project {
	width: 50%;
	background-color: white;
	padding: 4% 3% 8% 6%;
	position: relative;
	color: #c4c4c4;
}

.create-project-header input[type=text] {
	border: none;
	font-size: 1.8em;
	margin: 0;
	width: 85%;
}

.create-project .logbtn, .create-task .logbtn {
	position: absolute;
	bottom: 20px;
	right: 0;
}

.create-options {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.create-options p {
	margin: 1% 0;
	padding-left: 2%;
}

#project-comment {
	margin-left: 6%;
}

.create-options hr {
	margin: 2%;
}

.create-option {
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.create-option i {
	width: 20px;
	padding: 0 10px;
}

.create-option span {
	color: black;
	width: 35%;
}

.popup ::placeholder {
	color: #c4c4c4;
}

.popup :focus{
	color: black;
	transition: 0.2s;
}

.create-task {
	width: 30%;
	background-color: white;
	padding: 0 0% 6% 1.5%;
	position: relative;
	color: #c4c4c4;
}

.create-task form {
	flex-direction: column;
}

#task-description {
	border: none;
	margin-left: 4%;
	width: 85%;
	font-size: 1em;
}